.App {
  text-align: center;
}

.single-item {
    width: fit-content;
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid black;
}

input {
    margin: 10px;
}
button {
    margin: 10px;
    height: 40px;
    width: 120px;
    font-size: 20px;
    background-color: cornflowerblue;
    color: aliceblue;
    border-bottom: 1px solid black;
}

.main, .h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

h2 {
    font-size: 40px;
    padding-bottom: 5px;
    border-bottom: 2px solid cornflowerblue;
}
